useDynLib(cpm, .registration = TRUE)

export(detectChangePoint)
export(detectChangePointBatch)
export(processStream)
export(getBatchThreshold)
export(makeChangePointModel)
export(processObservation)
export(getStatistics)
export(cpmReset)
export(changeDetected)

S3method(plot,cpm)
export(plotDs)

import(methods)
import(stats)
importFrom("graphics", "abline")