useDynLib(cpm, .registration = TRUE)

export(detectChangePoint)
export(detectChangePointBatch)
export(processStream)
export(getBatchThreshold)
export(makeChangePointModel)
export(processObservation)
export(getStatistics)
export(cpmReset)
export(changeDetected)

import(methods)
import(stats)